{% extends 'base.html.twig' %}

{% block title %}New Review{% endblock %}

{% block body %}
<style>
h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: rgb(232, 184, 36);
    margin-top: 20px;
}
</style>
    <div class=" pageTitle m-2 text-center">
        <h1>Review</h1>
    </div>


<div>
            <a  class="m-5" href="{{ path ('app_homepage')}}">&#9664;&#9664; Back to Home</a>
    </div>

<div class="container">
    {{ include('review/_form.html.twig') }}
</div>

<div class=" pageTitle m-2 text-center ms-5">
        <p><a href="{{ path ('app_review_index')}}">>>> See all reviews</a</p>
    </div>
    

{% endblock %}
