{% extends 'base.html.twig' %}

{% block title %}New Review{% endblock %}

{% block body %}
    <div class=" pageTitle m-2 text-center">
        <h1>Review</h1>
    </div>


<div>
            <a  class="m-5" href="{{ path ('app_homepage')}}"><<< Back to Home</a>
    </div>

<div class="container">
    {{ include('review/_form.html.twig') }}
</div>
    

{% endblock %}
