{% extends 'base.html.twig' %}

{% block title %}New Questions{% endblock %}

{% block body %}
    <div class=" pageTitle m-2 text-center">
        <h1>Ask a question</h1>
    </div>

    <div>
            <a  class="m-5" href="{{ path ('app_homepage')}}"><<< Back to Home</a>
    </div>

<div class="container">
 {{ include('questions/_form.html.twig') }}
</div>
   
{% endblock %}
