<div class="oline">


<footer class="footer">
 
    <div class="footer-container">
   
        <div class="footer-links">
            <a href="{{ path ('app_map')}}" class="footer-link">Contact Us</a>
        </div>
        <div class="social-media">
            <a href="https://facebook.com"class="fa fa-facebook">
                
            </a>
            <a href="https://twitter.com" class="fa fa-twitter">
                
            </a>
            <a href="https://instagram.com"  class="fa fa-instagram">
                
            </a>
        </div>
    </div>
</footer>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</div>



