
<nav class="navbar" style="background-color: #e3f2fd hover-color;">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{ path('app_product_index') }}">Toy World</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Puppets</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Outdoor</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Boardgames</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Infants</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Crafts & Art</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Constructions</a>
              </li>
              {# <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown link
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li> #}
            </ul>
          </div>
        </div>
      </nav>
      <a class="icon-link icon-link-hover" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);" href="{{ path('app_product_catalog') }}">
        <svg class="bi" aria-hidden="true"><use xlink:href="#clipboard"></use></svg>
       Catalog
      </a>
  </nav>
