{% extends 'base.html.twig' %}

{% block title %}Edit Orders{% endblock %}

{% block body %}
<style>
h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: rgb(232, 184, 36);
    margin-top: 20px;
}
</style>
<div class="pageTitle m-2 text-center">
    <h1>Edit Quantity</h1>
    </div>
    <div class="m-3">
    <a href="{{ path('app_orders_index') }}">&#9664;&#9664; back to list</a>
    </div>
    
    <div class="container">
    
            <div class="">
            {{ include('orders/_form.html.twig', {'button_label': 'Update'}) }}

            {{ include('orders/_delete_form.html.twig') }}
            </div>
    </div>

    
{% endblock %}
